<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>MERGE_OPTIONS</name>
          <description></description>
          <defaultValue>--no-ask --reset</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>STATUS</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>success-only</string>
              <string>no-error</string>
              <string>none</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PUSH_BRANCH</name>
          <description></description>
          <defaultValue>SPACEBRANCH_merge_trigger</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BASE_BRANCH</name>
          <description></description>
          <defaultValue>master</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/ome/bio-formats-build</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>${BASE_BRANCH}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        <relativeTargetDir>bio-formats-build</relativeTargetDir>
      </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
      <hudson.plugins.git.extensions.impl.SubmoduleOption>
        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>true</recursiveSubmodules>
        <trackingSubmodules>true</trackingSubmodules>
        <reference></reference>
        <parentCredentials>false</parentCredentials>
        <shallow>false</shallow>
      </hudson.plugins.git.extensions.impl.SubmoduleOption>
      <hudson.plugins.git.extensions.impl.CleanCheckout/>
    </extensions>
  </scm>
  <assignedNode>testintegration</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>pip install -U --user scc

PATH=$WORKSPACE/bio-formats-build/scripts:$HOME/.local/bin:$PATH

MERGE_OPTIONS=&quot;$MERGE_OPTIONS -S $STATUS&quot;


cd bio-formats-build

echo &quot;Merge base repository (no submodule updates)&quot;
scc merge $MERGE_OPTIONS --shallow master

# Update any changed submodules
git submodule sync
git submodule update --remote --recursive

echo &quot;Merge all submodules using repository configuration:&quot;
cat &quot;scripts/repositories.yml&quot;
scc merge &quot;--repository-config=$(pwd)/scripts/repositories.yml&quot; $MERGE_OPTIONS --update-gitmodules --push $PUSH_BRANCH master

echo &quot;Update maven component versions&quot;
update-versions

echo &quot;Commit all component version changes&quot;
git submodule foreach &quot;git add -u&quot;
git submodule foreach &quot;git commit -m &apos;Update component versions&apos; || true&quot;

echo &quot;Push all branches&quot;
user=$(git config github.user)
git submodule foreach &quot;git push -f git@github.com:$user/&quot;&apos;${path}.git&apos;&quot; HEAD:$PUSH_BRANCH&quot;

echo &quot;Commit all component version changes&quot;
git add -u
git commit -m &apos;Update component versions&apos; || true

git push -f git@github.com:$user/bio-formats-build.git HEAD:$PUSH_BRANCH</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command># TODO: move to Jenkinsfile
mkdir -p ${WORKSPACE}/target
cd ${WORKSPACE}/target
curl -sfL https://github.com/ome/build-infra/archive/master.tar.gz | tar -zxf -
export PATH=$PATH:${WORKSPACE}/target/build-infra-master/
cd ${WORKSPACE}/bio-formats-build
foreach-get-version &gt; ${WORKSPACE}/target/version.tsv
foreach-get-version-as-property &gt; ${WORKSPACE}/target/version.properties</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>target/version.tsv</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>