.*un~
home/.*
home/*.log
home/fingerprints/
home/identity.key.enc
home/init.groovy.d/
home/jobs/Bio-Formats/builds/
home/jobs/Bio-Formats/lastStable
home/jobs/Bio-Formats/lastSuccessful
home/jobs/Bio-Formats/modules/
home/jobs/Bio-Formats/nextBuildNumber
home/jobs/OMERO/builds/
home/jobs/OMERO/lastStable
home/jobs/OMERO/lastSuccessful
home/jobs/OMERO/nextBuildNumber
home/jobs/Scripts/builds/
home/jobs/Scripts/lastStable
home/jobs/Scripts/lastSuccessful
home/jobs/Scripts/nextBuildNumber
home/logs/
home/nodeMonitors.xml
home/plugins/
home/queue.xml.bak
home/secret.key
home/secret.key.not-so-secret
home/secrets/
home/updates/
home/userContent/
home/war/
