.*un~
home/.*
home/*.log
home/fingerprints/
home/identity.key.enc
home/init.groovy.d/
home/jobs/*/builds/
home/jobs/*/lastStable
home/jobs/*/lastSuccessful
home/jobs/*/modules/
home/jobs/*/nextBuildNumber
home/logs/
home/nodeMonitors.xml
home/plugins/
home/queue.xml.bak
home/secret.key
home/secret.key.not-so-secret
home/secrets/
home/updates/
home/userContent/
home/war/
slave/.m2
slave/cache
slave/omero
slave/tools
slave/workspace
slave/*.jar
slave/.ssh
slave/.gitconfig
slave/.jenkins
slave/.matplotlib
slave/.local
