version: "3"

services:

    jenkins:
        build: jenkins
        networks:
            - omero-network
        user: ${USER_ID}
        volumes:
            - ./home:/var/jenkins_home
        environment:
            - JENKINS_OPTS= --prefix=${JENKINS_PREFIX} --argumentsRealm.passwd.${JENKINS_USERNAME}=${JENKINS_PASSWORD} --argumentsRealm.roles.${JENKINS_USERNAME}=admin

    git:
        build: git
        volumes:
            - /src
        command: 'true'

    pg:
        image: postgres:${POSTGRES_VERSION}
        networks:
            - omero-network
        volumes:
            - ./pgdata:/var/lib/postgresql/data
        ports:
            - "${POSTGRES_PORT}5432"

    testintegration:
        build:
            context: ./slave
            dockerfile: Dockerfile
        networks:
            - omero-network
        volumes:
            - ./slave:/home/omero
            - ${REPO_CONFIG}:${REPO_CONFIG}
        environment:
            - SLAVE_NAME=testintegration
            - SLAVE_EXECUTORS=2
            - SLAVE_PARAMS=-labels centos7 -labels ice36 -labels java18 -disableClientsUniqueId
            - JENKINS_MASTER=${JENKINS_BASE}${JENKINS_PREFIX}
            - WEB_PREFIX
            - REPO_CONFIG
        extra_hosts:
            - "testintegration:127.0.0.1"
        ports:
            - "${OMERO_SERVER_TEST_SSL}14064"
            - "${OMERO_SERVER_TEST_TCP}14063"

    omero:
        build:
            context: ./server
            dockerfile: Dockerfile
        networks:
            - omero-network
        volumes:
            - ./server:/home/omero
        environment:
            - SLAVE_NAME=omero
            - SLAVE_EXECUTORS=2
            - SLAVE_PARAMS=-labels centos7 -labels ice36 -labels java18 -disableClientsUniqueId
            - JENKINS_MASTER=${JENKINS_BASE}${JENKINS_PREFIX}
            - WEBHOST=http://nginx${WEB_PREFIX}
        ports:
            - "${OMERO_SERVER_SSL}4064"
            - "${OMERO_SERVER_TCP}4063"

    web:
        build:
            context: ./web
            dockerfile: Dockerfile
        networks:
            - omero-network
        volumes:
            - ./web:/home/omero
            - ./nginx/conf.d:/home/omero/nginx
        environment:
            - SLAVE_NAME=web
            - SLAVE_EXECUTORS=2
            - SLAVE_PARAMS= -labels centos7 -labels ice36 -labels java18 -disableClientsUniqueId
            - JENKINS_MASTER=${JENKINS_BASE}${JENKINS_PREFIX}
            - WEB_PREFIX

    nginx:
        build:
            context: ./nginx
            dockerfile: Dockerfile
        networks:
            - omero-network
        volumes:
            - ./nginx/conf.d:/etc/nginx/conf.d
            - ./web/static:/home/omero/static
            - ./nginx/log:/var/log/nginx
            - ./nginx/sslcert:/etc/nginx/ssl
        environment:
            - SLAVE_NAME=nginx
            - SLAVE_PARAMS=-labels centos7 -labels java18 -disableClientsUniqueId
            - JENKINS_MASTER=${JENKINS_BASE}${JENKINS_PREFIX}
        ports:
            - "${NGINX_PORT}80"
            - "${NGINX_SSL_PORT}443"

    nginxjenkins:
        image: nginx:${NGINX_VERSION}
        networks:
            - omero-network
        volumes:
            - ./jenkins/conf.d:/etc/nginx/conf.d
            - ./jenkins/sslcert:/etc/nginx/ssl
        ports:
            - "${NGINXJENKINS_HTTP_PORT}80"
            - "${NGINXJENKINS_SSL_PORT}443"

    redis:
        image: redis
        networks:
            - omero-network

    seleniumhub:
        image: selenium/hub
        networks:
            - omero-network
        environment:
            - GRID_TIMEOUT=0
        ports:
            - "4444"

    seleniumfirefox:
        image: selenium/node-firefox
        networks:
            - omero-network
        environment:
            - HUB_PORT_4444_TCP_ADDR=seleniumhub
            - HUB_PORT_4444_TCP_PORT=4444
            - SCREEN_WIDTH=1920
            - SCREEN_HEIGHT=1080
            - SCREEN_DEPTH=24
        depends_on:
            - seleniumhub

    seleniumchrome:
        image: selenium/node-chrome
        networks:
            - omero-network
        environment:
            - HUB_PORT_4444_TCP_ADDR=seleniumhub
            - HUB_PORT_4444_TCP_PORT=4444
            - SCREEN_WIDTH=1920
            - SCREEN_HEIGHT=1080
            - SCREEN_DEPTH=24
        depends_on:
            - seleniumhub

    docker:
        build: docker
        networks:
            - omero-network
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ${REPO_CURATED}:${REPO_CURATED}:ro
            - ${REPO_CONFIG}:${REPO_CONFIG}:ro
        environment:
            - SLAVE_NAME=docker
            - SLAVE_PARAMS=-labels docker -disableClientsUniqueId -executors ${DOCKER_EXECUTORS}
            - JENKINS_MASTER=${JENKINS_BASE}${JENKINS_PREFIX}
            - REPO_CURATED
            - REPO_CONFIG

    nexus:
        build:
            context: ./nexus
            args:
                USER_ID: ${USER_ID}
        user: ${USER_ID}
        networks:
            - omero-network
        volumes:
            - ./nexus-data:/nexus-data
        ports:
            # TODO: Remove all ports when we can configure nexus automatically
            - 8081
        environment:
            # Needed so nexus can be proxied under /nexus
            # Note additional configuration to set the full base url in Nexus
            # may be required if running on a non-standard http/https port
            NEXUS_CONTEXT: nexus

networks:
    omero-network:
        # If devspace fails and your network has a non-standard MTU this may
        # need to be set if auto-detection fails
        driver_opts:
            com.docker.network.driver.mtu: 1450
