<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>HOSTNAME</name>
          <description></description>
          <defaultValue>testintegration</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PORT</name>
          <description></description>
          <defaultValue>14064</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RUN_IN_PARALLEL</name>
          <description>Experimental: Run the tests in parallel using pabot</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RERUN_FAILED_TESTS</name>
          <description>Rerun the failed tests in Chrome</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>testintegration</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf src</command>
    </hudson.tasks.Shell>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.42">
      <project>OMERO-build</project>
      <filter>src/target/openmicroscopy*zip</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>
        rm -rf $WORKSPACE/.venv3
python3.11 -m venv $WORKSPACE/.venv3

source $WORKSPACE/.venv3/bin/activate
pip install -U pip setuptools
pip install https://github.com/glencoesoftware/zeroc-ice-py-linux-x86_64/releases/download/20240202/zeroc_ice-3.6.5-cp311-cp311-manylinux_2_28_x86_64.whl
pip install omero-py omero-web  # Latest in order to stop server.
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>SRC=$WORKSPACE/src
WEBHOST=nginx
# Setup configuration for robot job
ZIP_SRC=$(ls openmicroscopy*zip)
unzip $ZIP_SRC
rm -f $ZIP_SRC
mv $WORKSPACE/${ZIP_SRC%.zip} $SRC
OMERO_DIST=$SRC/dist
export OMERODIR=$OMERO_DIST

# prepare virtualenv
source $WORKSPACE/.venv3/bin/activate

#==3.0.2
pip install "robotframework==4.1" "robotframework-selenium2library==3.0.0"
pip install "robotframework-pythonlibcore==3.0.0" "robotframework-seleniumlibrary==5.1.3"

if [ "$RUN_IN_PARALLEL" = "true" ]; then
    pip install "robotframework-pabot==0.43"
fi

omero config set omero.web.prefix $WEB_PREFIX

# TMP copy file. This was done during the build previously
mkdir $SRC/dist/etc/templates
mv $SRC/components/tests/ui/resources/robot.template $SRC/dist/etc/templates

cd $SRC/dist

bash ../components/tests/ui/robot_setup.sh
mv $SRC/dist/robot_ice.config $SRC/components/tests/ui/resources/
export ICE_CONFIG=$SRC/components/tests/ui/resources/robot_ice.config
omero --path $SRC/components/tests/ui/plugins robot config --protocol http --webhost $WEBHOST --remoteurl 'http://seleniumhub:4444/wd/hub' --dc 'browserName:${BROWSER},javascriptEnabled:True' >$SRC/components/tests/ui/resources/config.txt

sed -i.bak -re 's/(\{SERVER_ID\}.*1)/\{SERVER_ID\}      2/' $SRC/components/tests/ui/resources/config.txt

#echo Running the UI tests

# Run the tests on Firefox then rerun failed tests in Chrome
if [ "$RUN_IN_PARALLEL" = "true" ]; then
    # Experimental see https://github.com/mkorpela/pabot/issues/93
    $SRC/build.py -f components/tests/ui/build.xml -Dtest.with.fail=false web-browser-pabot
    if [ "$RERUN_FAILED_TESTS" = "true" ]; then
        $SRC/build.py -f components/tests/ui/build.xml -Dtest.with.fail=false web-browser-rerun-pabot
        # Combines the outputs of the 2 runs
        $SRC/build.py -f components/tests/ui/build.xml merge-results-rerun
    else
        $SRC/build.py -f components/tests/ui/build.xml aggregate-results
    fi
else
    $SRC/build.py -f components/tests/ui/build.xml -Dtest.with.fail=false web-browser -DBROWSER=chrome
    if [ "$RERUN_FAILED_TESTS" = "true" ]; then
        $SRC/build.py -f components/tests/ui/build.xml -Dtest.with.fail=false web-browser-rerun -DBROWSER=chrome -DTARGETBROWSER=firefox
        $SRC/build.py -f components/tests/ui/build.xml merge-results-rerun -DBROWSER=chrome
    else
        $SRC/build.py -f components/tests/ui/build.xml aggregate-results
    fi
fi
# END TMP

# Run only on Firefox
# $SRC/build.py -f components/tests/ui/build.xml -Dtest.with.fail=false web-browser

# Run a single test
# $SRC/build.py -f components/tests/ui/build.xml web-browser -DTEST=view_image.txt
# Aggregate results
# $SRC/build.py -f components/tests/ui/build.xml aggregate-results

deactivate
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.robot.RobotPublisher plugin="robot@1.6.5">
      <outputPath>$WORKSPACE/src/components/tests/ui/target/reports</outputPath>
      <reportFileName>report.html</reportFileName>
      <logFileName>log.html</logFileName>
      <outputFileName>output.xml</outputFileName>
      <disableArchiveOutput>false</disableArchiveOutput>
      <passThreshold>100.0</passThreshold>
      <unstableThreshold>80.0</unstableThreshold>
      <otherFiles>
        <string></string>
      </otherFiles>
      <enableCache>true</enableCache>
      <onlyCritical>true</onlyCritical>
    </hudson.plugins.robot.RobotPublisher>
  </publishers>
  <buildWrappers/>
</project>