<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>PURGE_DATA</name>
          <description>Drops and creates the DB, cleans the binary repository</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DB_NAME</name>
          <description>Default is $JOB_NAME</description>
          <defaultValue>$JOB_NAME</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DATA_DIR</name>
          <description>Default is $HOME/omero-server-data</description>
          <defaultValue>$HOME/omero-server-data</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OMERO_SERVER_ZIP_URL</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>omero</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf $WORKSPACE/.venv3
python -m venv $WORKSPACE/.venv3

source $WORKSPACE/.venv3/bin/activate
pip install https://github.com/ome/zeroc-ice-py-centos7/releases/download/0.2.1/zeroc_ice-3.6.5-cp36-cp36m-linux_x86_64.whl
pip install -U pip future
pip install markdown
pip install reportlab # For figure
pip install omego
pip install tables
pip install jinja2
pip install omero-py  # Latest in order to stop server.</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>OMERO_INSTALL=/tmp/omero-install/linux
source $OMERO_INSTALL/settings.env
OMERO_DB_NAME=$DB_NAME
OMERO_DIST=$WORKSPACE/OMERO.server
export OMERODIR=$OMERO_DIST
OMERO_DATA_DIR=$DATA_DIR

if [ -e $OMERO_DIST ]; then
    source $WORKSPACE/.venv3/bin/activate
    omero admin stop || echo not running
    sleep 5
    deactivate
fi


if [ &quot;$PURGE_DATA&quot; = &quot;true&quot; ]; then
    dropdb -h $OMERO_DB_HOST -U $OMERO_DB_USER $OMERO_DB_NAME || echo &quot;First run or already exists&quot;
    rm -rf $OMERO_DATA_DIR
else
    echo &quot;Skipping PURGE_DATA:CleanDbAndRepo&quot;
fi

rm -rf $WORKSPACE/*  # Should leave .venv3</command>
    </hudson.tasks.Shell>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.42">
      <project>OMERO-build</project>
      <filter>src/target/OMERO.server*zip</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.42">
      <project>OMERO-python-superbuild-build</project>
      <filter>**/*.tar.gz</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>OMERO_INSTALL=/tmp/omero-install/linux
source $OMERO_INSTALL/settings.env
OMERO_DB_NAME=$DB_NAME
OMERO_DATA_DIR=$DATA_DIR

mkdir -p $OMERO_DATA_DIR

# UNZIP SERVER
OMERO_DIST=$WORKSPACE/OMERO.server
export OMERODIR=$OMERO_DIST

ZIP=$(ls OMERO.server*.zip)
if [ ! -z &quot;$OMERO_SERVER_ZIP_URL&quot; ]
then
   rm -f $ZIP
   wget -q $OMERO_SERVER_ZIP_URL
   ZIP=$(basename $OMERO_SERVER_ZIP_URL)
fi
DIST=${ZIP%.zip}
unzip $ZIP
rm -f $ZIP
mv $WORKSPACE/$DIST $OMERO_DIST

# INSTALL PYTHON PACKAGES
source $WORKSPACE/.venv3/bin/activate
pip install git+https://github.com/$SPACE_USER/omero-metadata.git@$MERGE_PUSH_BRANCH#egg=omero-metadata
pip install git+https://github.com/$SPACE_USER/omero-cli-render.git@$MERGE_PUSH_BRANCH#egg=omero-cli-render
pip install omero-certificates

for x in *.tar.gz; do
    pip install -U $x # Install marshal, etc. *after* requirements
done

## LOAD CONFIG

# LOAD EXTRA CONFIG
#omero load configfile.omero

# DEFAULT CONFIG
omero config set omero.db.name $OMERO_DB_NAME
omero config set omero.db.host $OMERO_DB_HOST
omero config set omero.db.user $OMERO_DB_USER
omero config set omero.data.dir $OMERO_DATA_DIR
omero config set omero.fs.repo.path &quot;%user%_%userId%/%thread%//%year%-%month%/%day%/%time%&quot;
omero config set omero.db.poolsize 25
omero config set omero.security.trustStore /etc/pki/ca-trust/extracted/java/cacerts
omero config set omero.security.trustStorePassword changeit
omero certificates
## END LOAD CONFIG


## PURGE

if [ &quot;$PURGE_DATA&quot; = &quot;true&quot; ]; then
    createdb -h $OMERO_DB_HOST -U $OMERO_DB_USER $OMERO_DB_NAME
    omego db init --serverdir $OMERO_DIST --dbname $OMERO_DB_NAME
else
    echo &quot;Skipping PURGE_DATA:CleanDbAndRepo. Check for DB upgrade&quot;
    omego db -vvv upgrade --serverdir $OMERO_DIST --dbname $OMERO_DB_NAME
fi

## END PURGE

export LANG=&apos;en_US.UTF-8&apos;
export LANGUAGE=&apos;en_US:en&apos;
export LC_ALL=&apos;en_US.UTF-8&apos;
BUILD_ID=DONT_KILL_ME omero admin start

# WAIT FOR OMERO TO START UP AND ACCEPT CONNECTIONS
omero admin waitup
omero admin diagnostics

deactivate</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.9"/>
  </buildWrappers>
</project>