<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>OMERO_PY_ZIP_URL</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>web</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>if [ ! -e $WORKSPACE/.venv3 ]; then
    virtualenv $WORKSPACE/.venv3 --system-site-packages
fi

source $WORKSPACE/.venv3/bin/activate
pip install https://github.com/ome/zeroc-ice-py-manylinux/releases/download/0.1.0/zeroc_ice-3.6.5-cp36-cp36m-manylinux2010_x86_64.whl
pip install -U pip future
pip install markdown
pip install omero-py omero-web  # Latest in order to stop server.</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>OMERO_DIST=$WORKSPACE/OMERO.web
export OMERODIR=$OMERO_DIST
if [ -e $OMERO_DIST ]; then
    source $WORKSPACE/.venv3/bin/activate
    omero web stop || echo &apos;not running&apos;
    sleep 5
    omero web status || echo &apos;no status&apos;
    deactivate
fi

rm -rf $HOME/static/web/
rm -rf $WORKSPACE/*</command>
    </hudson.tasks.Shell>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.42">
      <project>OMERO-build</project>
      <filter>src/target/OMERO.server*zip</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.42">
      <project>OMERO-python-superbuild-build</project>
      <filter>**/*.gz</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>
OMERO_DIST=$WORKSPACE/OMERO.web
export OMERODIR=$OMERO_DIST
OMERO_INSTALL=/tmp/omero-install/linux

ZIP=$(ls OMERO.server*.zip)
if [ ! -z &quot;$OMERO_PY_ZIP_URL&quot; ]
then
   rm -f $ZIP
   wget -q $OMERO_PY_ZIP_URL
   ZIP=$(basename $OMERO_PY_ZIP_URL)
fi

DIST=${ZIP%.zip}
unzip -n $ZIP ## TODO: unclear why this has dupes
rm -f $ZIP
mv $WORKSPACE/$DIST $OMERO_DIST


source $WORKSPACE/.venv3/bin/activate

source $OMERO_INSTALL/settings.env

for x in *.tar.gz; do
  pip install $x
done

#start-config
omero config set omero.web.application_server &apos;wsgi-tcp&apos;
omero config set omero.web.application_server.max_requests 0

omero config set omero.web.prefix $WEB_PREFIX
omero config set omero.web.static_url $WEB_PREFIX&apos;/static/&apos;
omero config set omero.web.static_root $HOME&apos;/static/web/&apos;

omero config set omero.web.session_engine &apos;django.contrib.sessions.backends.cache&apos;
omero config set omero.web.caches &apos;{&quot;default&quot;: {&quot;BACKEND&quot;: &quot;django_redis.cache.RedisCache&quot;,&quot;LOCATION&quot;: &quot;redis://redis:6379/0&quot;}}&apos;

omero config set omero.web.server_list &apos;[[&quot;omero&quot;, 4064, &quot;omero&quot;], [&quot;testintegration&quot;, 14064, &quot;testintegration&quot;]]&apos;

omero config set omero.web.application_server.host $NODE_NAME
omero config set omero.web.application_server.port 4080

omero web config nginx --http &quot;$OMERO_WEB_PORT&quot; &gt;$OMERO_DIST/nginx.conf.tmp

sudo cp $OMERO_DIST/nginx.conf.tmp $HOME/nginx/$NODE_NAME.conf

omero config set omero.web.wsgi_args -- &apos;--log-level=DEBUG --error-logfile=&apos;$OMERO_DIST&apos;/var/log/gunicorn.err&apos;

omero config set omero.web.application_server.host 0.0.0.0

# OMERO.iviewer installation
pip install &quot;git+git://github.com/snoopycrimecop/omero-iviewer.git@$MERGE_PUSH_BRANCH#egg=omero-iviewer&amp;subdirectory=plugin&quot;
omero config append omero.web.apps &apos;&quot;omero_iviewer&quot;&apos;
omero config set omero.web.viewer.view omero_iviewer.views.index
omero config append omero.web.open_with &apos;[&quot;omero_iviewer&quot;, &quot;omero_iviewer_index&quot;, {&quot;supported_objects&quot;:[&quot;images&quot;, &quot;dataset&quot;, &quot;well&quot;], &quot;script_url&quot;: &quot;omero_iviewer/openwith.js&quot;, &quot;label&quot;: &quot;OMERO.iviewer&quot;}]&apos;

# OMERO.figure installation
pip install git+git://github.com/snoopycrimecop/omero-figure.git@$MERGE_PUSH_BRANCH#egg=omero-figure
omero config append omero.web.apps &apos;&quot;omero_figure&quot;&apos;
omero config append omero.web.ui.top_links &apos;[&quot;Figure&quot;, &quot;figure_index&quot;, {&quot;title&quot;: &quot;Open Figure in new tab&quot;, &quot;target&quot;: &quot;_blank&quot;}]&apos;
omero config append omero.web.open_with &apos;[&quot;omero_figure&quot;, &quot;new_figure&quot;, {&quot;supported_objects&quot;:[&quot;images&quot;], &quot;target&quot;: &quot;_blank&quot;, &quot;label&quot;: &quot;OMERO.figure&quot;}]&apos;


# OMERO.parade installation
pip install https://github.com/snoopycrimecop/omero-parade/archive/$MERGE_PUSH_BRANCH.tar.gz
# pip install &quot;omero-parade&gt;=0.2.dev2&quot;
omero config append omero.web.apps &apos;&quot;omero_parade&quot;&apos;
omero config append omero.web.ui.center_plugins &apos;[&quot;Parade&quot;, &quot;omero_parade/init.js.html&quot;, &quot;omero_parade&quot;]&apos;
omero config set omero.web.use_x_forwarded_host true
omero config set omero.web.secure_proxy_ssl_header &apos;[&quot;HTTP_X_FORWARDED_PROTO&quot;, &quot;https&quot;]&apos;

pip --version
find $WORKSPACE/.venv3 -name \*parade\*

# OMERO.fpbioimage installation
pip install git+git://github.com/snoopycrimecop/omero-fpbioimage.git@$MERGE_PUSH_BRANCH#egg=omero-fpbioimage
omero config append omero.web.apps &apos;&quot;omero_fpbioimage&quot;&apos;
omero config append omero.web.open_with &apos;[&quot;omero_fpbioimage&quot;, &quot;fpbioimage_index&quot;, {&quot;script_url&quot;: &quot;fpbioimage/openwith.js&quot;, &quot;supported_objects&quot;: [&quot;image&quot;], &quot;label&quot;: &quot;FPBioimage&quot;}]&apos;

# OMERO.gallery installation
pip install git+git://github.com/snoopycrimecop/omero-gallery.git@$MERGE_PUSH_BRANCH#egg=omero-gallery
omero config append omero.web.apps &apos;&quot;omero_gallery&quot;&apos;
omero config append omero.web.ui.top_links &apos;[&quot;Gallery&quot;, &quot;webgallery_index&quot;, {&quot;title&quot;: &quot;Browse Gallery&quot;}]&apos;
omero config set omero.web.gallery.category_queries &apos;{&quot;all&quot;:{&quot;label&quot;:&quot;All Studies&quot;, &quot;index&quot;:0, &quot;query&quot;:&quot;FIRST50:Name&quot;}}&apos;

# OMERO.mapr installation
pip install git+git://github.com/snoopycrimecop/omero-mapr.git@$MERGE_PUSH_BRANCH#egg=omero-mapr
omero config append omero.web.apps &apos;&quot;omero_mapr&quot;&apos;
omero config append omero.web.mapr.config &apos;{&quot;menu&quot;: &quot;anyvalue&quot;, &quot;config&quot;:{&quot;default&quot;:[&quot;Any Value&quot;], &quot;all&quot;:[], &quot;ns&quot;:[&quot;openmicroscopy.org/omero/client/mapAnnotation&quot;], &quot;label&quot;:&quot;Any&quot;}}&apos;
omero config append omero.web.ui.top_links &apos;[&quot;Any Map Value&quot;, {&quot;viewname&quot;: &quot;maprindex_anyvalue&quot;}, {&quot;title&quot;: &quot;Search for values in any Key-Value pair&quot;}]&apos;

# OMERO.weberror installation
pip install git+git://github.com/snoopycrimecop/omero-weberror.git@$MERGE_PUSH_BRANCH#egg=omero-weberror
omero config append omero.web.apps &apos;&quot;omero_weberror&quot;&apos;

# OMERO.webtest
pip install git+git://github.com/snoopycrimecop/omero-webtest.git@$MERGE_PUSH_BRANCH#egg=omero-webtest
omero config append omero.web.apps &apos;&quot;omero_webtest&quot;&apos;

# OMERO.omero-webtagging-autotag installation
pip install omero-webtagging-autotag
omero config append omero.web.apps &apos;&quot;omero_webtagging_autotag&quot;&apos;
omero config append omero.web.ui.center_plugins &apos;[&quot;Auto Tag&quot;, &quot;omero_webtagging_autotag/auto_tag_init.js.html&quot;, &quot;auto_tag_panel&quot;]&apos;

# OMERO.webtagging-tagsearch installation
pip install omero-webtagging-tagsearch
omero config append omero.web.apps &apos;&quot;omero_webtagging_tagsearch&quot;&apos;
omero config append omero.web.ui.top_links &apos;[&quot;Tag Search&quot;, &quot;tagsearch&quot;]&apos;

# Twitter testing example
omero config set omero.web.sharing.opengraph &apos;{&quot;omero&quot;:&quot;Open Microscopy&quot;}&apos;
omero config set omero.web.sharing.twitter &apos;{&quot;omero&quot;:&quot;@openmicroscopy&quot;}&apos;
omero config set omero.web.public.enabled true
omero config set omero.web.public.user public
omero config set omero.web.public.password public
omero config set omero.web.public.url_filter &apos;^/&apos;

# QA feedback configuration
omero config set omero.web.feedback.comment.enabled false
omero config set omero.web.feedback.error.enabled false

BUILD_ID=DONT_KILL_ME omero web start
omero web diagnostics

deactivate</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.9"/>
  </buildWrappers>
</project>
