<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1590.v49101d088542">
  <actions/>
  <description>Runs the IDR site merge via jenkins-library-recursivemerge, build-infra, and SCC.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>STATUS</name>
          <description>PR check status</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>success-only</string>
              <string>no-error</string>
              <string>none</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MERGE_OPTIONS</name>
          <description>scc merge options</description>
          <defaultValue>-vvv --no-ask --reset --comment</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4370.v49a_6937566b_6">
    <script>node(&apos;testintegration&apos;) {
    library identifier: &apos;recursiveMerge@master&apos;, retriever: modernSCM(
        [$class: &apos;GitSCMSource&apos;,
         remote: &apos;https://github.com/ome/jenkins-library-recursivemerge.git&apos;])

    recursiveCheckout(
        fork: &apos;idr&apos;,
        repo: &apos;idr.openmicroscopy.org&apos;
    )

    recursiveMerge(
        baseRepo: &apos;idr.openmicroscopy.org&apos;
    )
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>