<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>omero</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>if [ ! -e $WORKSPACE/.venv3 ]; then
    virtualenv $WORKSPACE/.venv3 --system-site-packages
fi

source $WORKSPACE/.venv3/bin/activate
pip install https://github.com/ome/zeroc-ice-py-manylinux/releases/download/0.1.0/zeroc_ice-3.6.5-cp36-cp36m-manylinux2010_x86_64.whl
pip install -U pip future setuptools
pip install markdown
pip install mox3 pytest pytest-xdist
pip install tables
pip install jinja2

rm -rf $WORKSPACE/*</command>
    </hudson.tasks.Shell>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.42">
      <project>OMERO-python-superbuild-build</project>
      <filter>**/*.gz</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.42">
      <project>OMERO-build</project>
      <filter>src/target/OMERO.server*zip,src/target/openmicroscopy*zip</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>OMERO_INSTALL=/tmp/omero-install/linux
source $OMERO_INSTALL/settings.env

# UNZIP openmicroscopy
OMERO_EXAMPLE_DIST=$WORKSPACE/openmicroscopy

ZIP=$(ls openmicroscopy*.zip)
DIST=${ZIP%.zip}
unzip -n $ZIP
rm -f $ZIP
mv $WORKSPACE/$DIST $OMERO_EXAMPLE_DIST

# UNZIP SERVER
export OMERODIR=$WORKSPACE/OMERO.server

ZIP=$(ls OMERO.server*.zip)
DIST=${ZIP%.zip}
unzip -n $ZIP
rm -f $ZIP
mv $WORKSPACE/$DIST $OMERODIR

# load a virtual environment
source $WORKSPACE/.venv3/bin/activate

for x in *.gz; do
  pip install $x
done

cd $OMERODIR
bash $OMERO_EXAMPLE_DIST/examples/Training/training_setup.sh
mv training_ice.config $OMERO_EXAMPLE_DIST/examples/Training

omero sessions clear


# Run the Python and Java examples

export ICE_CONFIG=$OMERO_EXAMPLE_DIST/examples/Training/training_ice.config

# OMERO.py examples
pip install --upgrade requests
python $OMERO_EXAMPLE_DIST/examples/Training/python
deactivate

# OMERO.java examples
cd $OMERO_EXAMPLE_DIST/examples/Training/java/src
javac -cp .:$OMERODIR/lib/client/* training/*.java
java -cp .:$OMERODIR/lib/client/* training/Setup</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.9"/>
  </buildWrappers>
</project>
