<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1.11">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@1.11">
    <script>build job: &apos;BIOFORMATS-push&apos;

build &apos;BIOFORMATS-maven&apos;

build job: &apos;OMERO-push&apos;

build job: &apos;OMERO-build&apos;

build job: &apos;OMERO-server&apos;

build job: &apos;OMERO-web&apos;

build job: &apos;nginx&apos;

build job: &apos;OMERO-test-integration-ice35&apos;

build job: &apos;OMERO-robot&apos;, wait: false

build job: &apos;OMERO-test-integration-ice36&apos;

</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H H(2-6) * * 1-5</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
</flow-definition>