<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.9">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.TimerTrigger>
          <spec>H H(3-4) * * 1-5</spec>
        </hudson.triggers.TimerTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.29">
    <script>build job: &apos;BIOFORMATS-push&apos;

build job: &apos;BIOFORMATS-maven&apos;

build job: &apos;BIOFORMATS-ant&apos;

build job: &apos;OMERO-push&apos;

build job: &apos;OMERO-build&apos;

build job: &apos;OMERO-server&apos;

build job: &apos;OMERO-web&apos;

build job: &apos;nginx&apos;

build job: &apos;OMERO-test-integration&apos;, propagate: false

build job: &apos;OMERO-robot&apos;, wait: false

</script>
    <sandbox>false</sandbox>
  </definition>
</flow-definition>